/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    /* background-color: #000000; */
}
/* h1{
    font-size: 64px;
    color: #FFFFFF;
} */
/* top-banner */
.container{
    display: flex;
    margin-bottom: 100%;
    background-color: #FFFFFF;
}
.half-width{
    width: 485px;
    height: 600px;
    padding-left: 15%;
    background-color: rgb(25, 67, 158);
   }
.half-width img{
    margin-top: 50px;
    width: 500px;
}

/* button */
.button{
    text-decoration: none;
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    font-weight: 700;
    color: white;
}  
/* players */
.players-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-rows:  repeat(4, 1fr);
    grid-row-gap: 22px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
   width: 300px;
    box-shadow: 10px 10px 50px rgb(180, 178, 178);
}
.photo img{
    width: 80%;
}
.players-album{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-column-gap: 30px;
}
/* highlights */
.highlights-container{
    display: flex;
    margin-bottom: 100%;
    padding-left: 10%;
    align-items: center;
    }
h1{
    font-size: 40px;
    color: black;
}

.highlights img{
    margin-top: 30%;
    margin-right: 10%;
    width: 500px;  
}
/* logo */
.logo img{
    margin-left: 35%;
    width: 25%;
    align-items: center;
    text-align: center;
}
/* icons */
.icons{
    align-items: center;
    text-align: center;
    }
footer{
    text-align: center;
}
