/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 64px;
    color: #FFFFFF;
}
/* top-banner */
.container{
    display: flex;
    margin-bottom: 100%;
}
.half-width{
    width: 485px;
    height: 600px;
    padding-left: 15%;
    background-color: rgb(25, 67, 158);
   }
.half-width img{
    width: 515px;
}

/* button */
.button{
    text-decoration: none;
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    font-weight: 700;
    color: white;
}  